# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtualenv
venv/
.env/
.env

# PyCharm
.idea/

# Logs
*.log


.aws

*.bin
*.pickle
*.pdf

chat_history.json

src/db/
python

# Ignore infrastructure files
infrastructure/
terraform.tfstate
terraform.tfstate.backup
.terraform/
terraform.lock.hcl

# Ignore AWS Lambda-related files
lambda_function.py
lambda_function.zip

# Ignore response JSON files
response.json
