# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtualenv
venv/
.env/
.env

# PyCharm
.idea/

# Logs
*.log


.aws

*.bin
*.pickle
*.pdf

chat_history.json

src/db/
python

# Terraform файли
*.tfstate
*.tfstate.backup
.terraform/
terraform.lock.hcl

# AWS Lambda файли
lambda_function.py
lambda_function.zip

# JSON файли з відповідями
response.json
